body {
    color: #000;
    font-family: 'Times New Roman', serif;
    max-width: 1200px;
    margin: 20px auto; /* this adds space at the top and bottom */
    padding: 20px; /* this adds padding around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* optional: adds shadow for a lifted paper effect */
	background: url(images/oldPaper.jpeg);; /* this is the color of the newspaper */

}

header h1 {
    font-size: 48px;
    text-align: center;
	align-items: center;
}

header h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

img {
	opacity: 70%;
}

main {
    display: flex;

    justify-content: space-between;
    padding: 20px; /* padding around the columns */
    gap: 20px; /* space between columns */
}

.column {
    width: calc(50% - 20px); /* adjust the width to account for the gap */
    box-sizing: border-box;
	
}

.column:not(:first-child) {
    border-left: 2px solid #000;
}

.column article {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.column h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.column img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.column p {
    text-align: justify;
}